
@{
    ViewData["Title"] = "CreateFeatureByCarId";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<CreateCarFeatureByCarIdDto>

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araca Ait Özellikler Ekleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Araca ait özellik tanımlaması yapılacak sayfadır.
                        </p>
                        <form method="post">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="form-check">
                                    <input type="hidden" asp-for="@Model[i].FeatureID" />
                                    <input type="hidden" asp-for="@Model[i].Name" />
                                    <input type="hidden" value="@ViewBag.CarId" asp-for="@Model[i].CarID" />
                                    <input type="checkbox"  asp-for="@Model[i].Available"  class="form-check-input"/>
                                    <label class="form-check-label" >@Model[i].Name</label>
                                </div>

                            }
                            <button class="btn btn-primary">Özellik Ata</button>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


