
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>RentACArListSayfam</h1>

<br />
@ViewBag.timepick = timepick;
<br />
@ViewBag.timeoff = timeoff;
<br />
@ViewBag.bookpickdate = bookpickdate;
<br />
@ViewBag.bookoffdate = bookoffdate;
<br />
@ViewBag.LocationID = LocationID;
<br />

