@model ResultBlogLikeDto

<form asp-controller="BlogLike" asp-action="BlogLikeDislike" method="post">

    <input type="hidden" name="BlogID" value="@Model.BlogID" />
    <button type="submit" name="IsLike" value="true" class="btn @(Model.UserVote==true ? "btn-success" : "btn-outline-success")">
        👍 @Model.LikeCount  </button>

    <button type="submit" name="IsLike" value="false" class="btn @(Model.UserVote==false ? "btn-danger" : "btn-outline-danger")">
        👎 @Model.DislikeCount</button>


</form>