@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
    
}

@model List<ResultMessageByCurrentUserDto>
 
<div class="table-responsive w-75 mx-auto mt-4">
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>

                <th>CurrentUserID</th>
                <th>OtherUserID</th>
                <th>OtherUserName</th>
                <th>LastMessageDate</th>
                <th>LastMessageContent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>@message.CurrentUserID</td>
                    <td>@message.OtherUserID</td>
                    <td>@message.OtherUserName</td>
                    <td>@message.LastMessageDate</td>
                    <td>@message.LastMessageContent</td>

                    <td>
                        <a href="/Message/MessageDetails/@message.OtherUserID">Mesaj Detayları</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

